@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

.headerTitle {
    font-family: 'Alata', sans-serif;
    font-size: 50px;
    color: aliceblue;
}

.subTitle {
    font-family: 'Alata', sans-serif;
    color: aliceblue;
}


input[type="text"] {
  width: 40%;
  height: 30px;
  margin-top: 50px;
  margin-bottom:40px;
  border: 2px dashed;
  border-color: #068FF1;
 
  
}

@media (max-width: 768px) {
  input[type="text"] {
    width: 90%;
  }
}

.anim_gradient {
background: linear-gradient(90deg, #DE26A0 0%, #068FF1 100%);
        background-size : "400% 400%";
        animation : "gradient 25s ease infinite";
    }
      
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
};

